body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Désactive le scroll */
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

#content {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 700px;
    background: #e6eff3;
    border-radius: 14px;
}

.gps {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    gap: 20px;
}

.left .joystick-container {
    width: 128px; 
    position: relative; 
}

/* Conteneur du slider */
.slider-container {
    position: relative;
    width: 50px; /* Largeur fixe pour un slider vertical */
    height: 200px; /* Hauteur totale */
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Barre de progression du slider */
.slider-track {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1f5c7d;
    height: 0%; /* Valeur initiale */
}

/* Curseur personnalisé */
.slider-thumb {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border: 2px solid #1a4e6a;
    transform: translate(0, 100%);
    cursor: grab;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* État lorsqu'on clique sur le curseur */
.slider-thumb:active {
    cursor: grabbing;
}

/* Échelle (graduations) */
.scale {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    pointer-events: none; /* Ignorer les clics sur l'échelle */
}

.tick {
    font-size: 12px;
    color: #555;
}

.center .btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center .btns .stop {
    background-color: rgb(250, 154, 154);
}

.center .btns .start {
    background-color: rgb(154, 250, 194);
}

.center .mode {
    display: flex;
    gap: 0;
    border: 2px solid #555;
    border-radius: 10px;
}

.center .mode .active {
    background-color: #1f5c7d;
    color: #fff;
    border-radius: 10px;
}

.center .btns button{
    background-color: transparent;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    transition: linear .3s;
}

.center .more {
    display: flex;
    flex-direction: column;
}


#landscape-warning {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    font-size: 1.5em;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media (max-height : 300px) {
    body{
        align-items: start;
    }
    #content {
        height: 200px;
    }
}